<%= form_with(model: print) do |form| %>
  <% if print.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(print.errors.count, "error") %> prohibited this print from being saved:</h2>

      <ul>
        <% print.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :print_on, style: "display: block" %>
    <%= form.date_field :print_on %>
  </div>

  <div>
    <%= form.label :copies, style: "display: block" %>
    <%= form.number_field :copies %>
  </div>

  <div>
    <%= form.label :label_id, style: "display: block" %>
    <%= form.text_field :label_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
